<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.itheima.mapper.sqlserver.SqlUserMapper">
	
	<select id="findByName" parameterType="string" resultType="com.itheima.domain.User">
	SELECT 	id,
		NAME, 
		PASSWORD
		FROM 
		user1 where name = #{value}
	</select>
	
	<select id="findById" parameterType="int" resultType="com.itheima.domain.User">
		SELECT 	id, 
		NAME, 
		PASSWORD,
		perms 
		FROM 
		user1 where id = #{value}
	</select>
</mapper>